/* nav-bar */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(112, 112, 112);
    height: 40px;
    color: #FFFFFF;
}

.nav-title {
    font-size: 20px;
}

.nav-item {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-list {
    display: flex;
}

.nav-word {
    list-style: none;
    padding-left: 70px;
    list-style: none;
}



@media(max-width: 570px) {
    .nav-word {
        padding-left: 30px;
    }
}